fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
psycopg[binary]>=3.2.2,<3.3
requests==2.32.3
twilio==9.2.3
python-dotenv==1.0.1
python-multipart==0.0.9
google-cloud-documentai
scikit-learn==1.5.1
numpy==1.26.4
